<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/card.css' />
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/outer.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">패딩</h5>
          <p class="card-text">24FW</p>
          <div class="tag-box">
            <p class="tag">할인</p>
            <p class="tag">쿠폰</p>
            <p class="tag">적립</p>
            <p class="tag">무료배송</p>
          </div>
        </div>
        <p class="card-text">매우 비싸지만 잘 팔린다. 매년 출시할 듯</p>
        <p class="item-price"><%- item[i].price %></p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/supreme-o.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">슈프림 포우 셔링 라인드 봄버 자켓 데님</h5>
          <p class="card-text">24FW</p>
          <div class="tag-box">
            <p class="tag">빠른배송</p>
          </div>
        </div>
        <p class="card-text">굉장히 따뜻하지만 비싸다</p>
        <p class="item-price"></p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/north-o.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">노스페이스 눕시 다운 자켓</h5>
          <p class="card-text">WB Flax</p>
          <div class="tag-box">
            <p class="tag">빠른배송</p>
          </div>
        </div>
        <p class="card-text">비싸지만 크롭, 예쁘다</p>
        <p class="item-price"></p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/nike-h.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">나이키 클럽 플리스 그래픽 풀오버 후드</h5>
          <p class="card-text">NSW클럽</p>
        </div>
        <p class="card-text">꾸준히 인기있는 나이키 후드</p>
        <p class="item-price"></p>
      </div>

    </div>
  </div>
  
  <div class="item-card">
    <h3 class="itme-h3">스포티 앤 리치 아이템</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/adi-sporty.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">아디다스 X 스포티 인디고</h5>
          <p class="card-text">adistart</p>
          <div class="tag-box">
            <p class="tag">빠른배송</p>
          </div>
        </div>
        <p class="card-text">아디다스X스포티 앤 리치 콜라보</p>
        <p class="item-price">items[i].price</p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/adi-sporty1.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">아디다스X스포티 스페지알</h5>
          <p class="card-text">uburn</p>
          <div class="tag-box">
            <p class="tag">빠른배송</p>
          </div>
        </div>
        <p class="card-text">가을과 잘 어울리는...</p>
        <p class="item-price"></p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/adi-sporty2.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">아디다스X스포티 캠퍼스</h5>
          <p class="card-text">80s</p>
          <div class="tag-box">
            <p class="tag">빠른배송</p>
          </div>
        </div>
        <p class="card-text">겨울에 어울리는...</p>
        <p class="item-price"></p>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="image-webp">
          <img class="card-img" src="./images/adi-sporty3.webp" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">아디다스X스포티 쿠션 클라우드</h5>
          <p class="card-text">adistar</p>
        </div>
        <div class="tag-box">
          <p class="tag">빠른배송</p>
        </div>
        <p class="card-text">쿠션이 있어서 푹신푹신...</p>
        <p class="item-price"></p>
      </div>

    </div>
  </div>
  
</body>
</html>