<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
            padding-top: 100px;
            justify-content: center;
        }
    </style>
</head>
<body>

    <%- include navbar.ejs %>
    
    <div class="grid-container">
        <% for(let i=0; i<item.length; i++) { %>
            <%- include card.ejs %>
        <% } %>
    </div>
</body>
</html>
</html>