<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/login.css' />

  <title>Document</title>
</head>
<body>
  <div class="login_logo">
    <h1>KREAM</h1>
    <span>KICKS RULE EVERYTHING AROUND ME</span>
  </div>

  <form method="post" action="/login">
    <div class="login-email">
      <label for="email">이메일 주소
        <input class="email-input" type="text" name="email" placeholder="예) kream@kream.co.kr" />
      </label>
    </div>
    <div class="login-pw">
      <label for="pw">비밀번호
        <input class="pw-input" type="password" name="password" placeholder="" />
      </label>
    </div>
    <input class="login-bt" type="submit" value="로그인">
  </form>
 </div>

</body>
</html>
