.login_logo {
    text-align: center;
}
h1 {
    font-size: 30px;
    font-weight: 900;
    font-style: oblique;
    margin-bottom: 0px;
}
span{
    font-weight: 900;
}

form {
    margin: 60px auto;
    width: 24rem;
}
label{
    display: block;
    font-size: 13px;
    font-weight: 600;
}

input {
    width: 370px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #e5e2e2;
    font-size: 13px;
    margin-bottom: 20px;
}
.login-bt {
    height: 50px;
    background-color: #bebbbbd9;
    color: whitesmoke;
    border-radius: 10px;
}
